@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>

    <p>
        Schnellstart:
    </p>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/WatraRoute/Create">neue Wassertransportroute</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/WatraRoute/Calculator">Wassertransportroute berechnen</a>
        </li>
    </ul>
</div>
